:root {

    --clr-white: 0, 0%, 100%;
    --clr-cyan: 178, 100%, 50%;
    --clr-soft-blue: 215, 51%, 70%;
    --very-dark-blue-line: 216, 32%, 27%;

    --font-family-outfit: 'Outfit', sans-serif;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  padding: 152px 0px 151px 0px;
  justify-content: center;
  align-items: center;

  background: #0D192C;

}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}

.container {
    width: 350px;
    margin: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    border-radius: 15px;
    background: var(--very-dark-blue-card-bg, #15263F);
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.10);

    .image {
        height: 302px;
        border-radius: 8px;
        background: url('./images/image-equilibrium.jpg'), lightgray 50% / cover no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        &:hover {
            &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: hsl(var(--clr-cyan));
            border-radius: 8px;
            opacity: 0.503;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 25px;
  
    .title {
        width: 302px;

        color: hsl(var(--clr-white));

        font-family: Outfit;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &:hover {
            color: hsl(var(--clr-cyan));
        }
    }

    .description {
        width: 302px;

        color: hsl(var(--clr-soft-blue));

        /* Body */
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px; 
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .value {
            color: hsl(var(--clr-cyan));

            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            display: flex;
            gap: 7px;

            img {
                width: 11px;
                height: 18px;
            }
        }

        .timeleft {
            color: hsl(var(--clr-soft-blue));

            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            display: flex;
            gap: 7px;

            img {
                width: 18px;
                height: 18px;
            }
        }

    }
    .horizontalline {
        width: 302px;
        height: 1px;

        background: hsl(var(--very-dark-blue-line));

    }

    .author {
        display: flex;
        align-items: center;
        gap: 20px;

        img {

            width: 33px;
            height: 33px;
            
            border-radius: 33px;
            border: 1px solid hsl(var(--clr-white));
        }

        p {
            color: hsl(var(--clr-soft-blue));            
            /* Caption */
            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
            span {
                color: hsl(var(--clr-white));
                font-family: Outfit;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &:hover {
                    color: hsl(var(--clr-cyan));   
                }
            }
        }

    }
}
}